@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to   {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes rotate {
    from {
        -moz-transform: rotate(0deg);
    }
    to   {
        -moz-transform: rotate(360deg);
    }
}

div#loader {
    border-top : medium dotted #333;
    border-right : medium dotted #333;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    width: 18px;
    height: 18px;
    margin: 10px auto;

    -webkit-animation-name :             rotate;
    -webkit-animation-duration:              1s;
    -webkit-animation-timing-function:   linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name :             rotate;
    -moz-animation-duration:              1s;
    -moz-animation-timing-function:   linear;
    -moz-animation-iteration-count: infinite;

}

ul#twitter_results {
    /* debug  background-color: #dcdcdc; */
}

li.search>div>#query_input {
    width: 200px;
    margin:0 auto;
    color: #aaa;
    font-family: monospace;
    font-size: 16px;
    background-color: #fefefe;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-box-shadow: 0 0 3px #ddd inset;
    -moz-box-shadow: 0 0 3px #ddd inset;
}

#megane {
    -webkit-opacity: 0.1;
    -moz-opacity: 0.1;
}
#megane:hover, #megane:focus {
    -webkit-opacity: 0.7;
    -moz-opacity: 0.7;
    cursor: pointer;
}

li#load_more {
    text-align: center;
    padding-top: 20px;
}

li.entry {
    min-height:90px;
    /* width: 100%; */
    width: 590px;
    border-top: thin dotted #dcdcdc;
    /* background-color: rgba(250,250,250,0.7); */
    text-shadow: 0 0 10px #fff;
}

li.entry {
    height:50px;
}
li.entry:hover {
    background-color: #f3f3f3;
}
li.entry:hover>div.playing_status {
    -webkit-opacity: 0.7;
    -moz-opacity: 0.7;
}
li.entry:hover>div.content_box>div.tw_meta>ul>li>span>a.clickable {
    color: #999;
}
li.entry:hover>div.content_box>div.tw_meta>ul>li>span>a.clickable.dynamic {
    -webkit-opacity: 1;
}

div.icon_box {
    width: 52px;
    padding: 2px;
    /* dbg  background-color: #fff; */
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-align: end;
    -moz-box-align: end;
}
div.icon_box>div>img {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-box-shadow: 1px 1px 4px #ccc;
    -moz-box-shadow: 1px 1px 4px #ccc;
}

div.content_box {
    /* -webkit-box-flex: 1; */
    /* dbg background-color: #ccf; */
    width: 480px;
}
div.tw_text {
    height: 65px;
}
div.tw_text>p {
    font-size: 14px;
    color: #333;
    padding: 5px;
}
div.tw_meta {
    height: 13px;
    width: 100%;
    text-align: left;
}
div.tw_meta>ul {
    padding: 0;
    height: 100%;
    width: 100%;
}
div.tw_meta>ul>li {
    height: 100%;
}
div.tw_meta>ul>li.lef {
    width:33%;
}
div.tw_meta>ul>li.mid {
    width:33%;
}
div.tw_meta>ul>li.rig {
    width:34%;
}
div.tw_meta>ul>li>span>a.dynamic{
    -webkit-opacity: 0;
}

li.fix_right {
    float:right;
}
div.playing_status {
    width: 54px;
    /* background-color: #dfdfdf; */
    /* border: thin solid #aaa; */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-opacity: 0.1;
    -moz-opacity: 0.1;
}
div.playing_status>div {
    /* vertical-align: bottom; */
    margin: auto auto;
    /* padding: 0; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

div.playing_status.active {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    /*
    -webkit-box-shadow: 0 0 8px #888,
                       0 0 16px #888 inset;
    */
}
div.playing_status.active:after {
    content: url('../src/headphone.png');
}
/**
div.playing_status.active>div:hover:before {
    content: 'たぶんこれ.ちがったらごめん';
    font-size: 3px;
}
**/

div.playing_status.active>div>img {
}
