html, body, #wrapper {
    padding: 0;
    margin:  0;
    clear: both;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    background-image: url('../src/vocaloids/miku.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 150px 200px;
}

#header {
    position:fixed;
    background: -webkit-gradient(linear, left top, left bottom,
                                                    from(#aaa),
                    /* color-stop(0.3, rgba(256,256,256,1)), */
                                       to(rgba(256,256,256,0))
                );
    background: -moz-linear-gradient(                      top,
                                                          #aaa,
                                            rgba(256,256,256,0)
                );

    width: 100%;
    height: 90px;
    z-index: -1;
    top: 0;
}

#footer {
    position: fixed;
    bottom: 0;
    background: -webkit-gradient(linear, left top, left bottom,
                                       from(rgba(256,256,256,0)),
                                                    to(#aaa)
                );
    background: -moz-linear-gradient(                       top,
                                            rgba(256,256,256,0),
                                                           #aaa
                );

    width: 100%;
    height: 90px;
    z-index: -1;
    text-align: right;
}

/**************************/
/** switch2 ***************/
/**************************/
div#mode_switch2 {
    height: 120px;
    -webkit-box-sizing: box-content;
    width: 420px;
}
div#mode_switch2>ul {
    padding: 0;
    height:120px;
    width: 360px;
    margin-left: 18px;
}
div#mode_switch2>ul>li {
    display: -webkit-box;
    -webkit-box-align: end;
    height:120px;
    width:60px;
}
div#mode_switch2>ul>li>img {
    position: relative;
    bottom:-20px;
    display: -webkit-box;
    margin: 0 auto;
}
div#mode_switch2>ul>li>img:hover {
    cursor:pointer;
}
div#mode_switch2>ul>li>img#gumi {
    height: 105px; /* 140*(3/4) */
}
div#mode_switch2>ul>li>img#teto {
    height: 120px; /* 160*(3/4) */
}
div#mode_switch2>ul>li>img#miku {
    height: 114px; /* 152*(3/4) */
}
div#mode_switch2>ul>li>img#luka {
    height: 121px; /* 162*(3/4) */
}
div#mode_switch2>ul>li>img#rinlen {
    height: 99px; /* 130*(3/4) */
}
div#mode_switch2>ul>li>img#ia {
    height: 127px; /* 170*(3/4) */
}
hr#vocalo_footer {
    margin-top: 0;
    width: 480px;
    float: left;
    border: none;
    border-top: thin dotted transparent;
    height: 20px;
}

div#meta_action {
    width:420px;
    display:-webkit-box;
    -webkit-opacity: 0.5px;
}
div#meta_action>div {
    width:50%;
    height:50px;
}
div#meta_action>div>a>img, div#meta_action>div>img {
    -webkit-opacity: 1;
    /* float: right; */
}
div#meta_action>ul>li>a:hover {
    -webkit-opacity: 0.8;
}

img#everyone_faved {
    width:100px;
    -webkit-opacity: 0.7;
    float:right;
}
img#pl {
    width: 90px;
    -webkit-opacity: 0.1;
    float: left;
}
/*********************/
/**** desc_switch ****/
/*********************/
div.desc_switch {
    position: absolute;
    z-index:2;
    width: 70px;
    height: 20px;
    border: thin solid #fff;
    -webkit-border-radius: 10px;
    background-color: #333;
    padding: 5px;
    text-align: center;
    color: #ddd;
    text-shadow: 1px 0 0 #000;
    font-size: 10px;
    -webkit-opacity: 0.8;
}

div#social {
    position: fixed;
    top: 10px;
    left: 700px;
/**
    margin-top: 20px;
    margin-right: 100px;
**/
    z-index: 1;
    height: 20px;
}

div#titlewrapper>pre {
}
div#titlewrapper {
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}
div#titlewrapper>pre {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 8px;
}
div#titlewrapper>h1 {
    text-shadow: 0 -1px 0 #fff;
    margin-top: 0;
}
div#titlewrapper>h1>a {
    text-decoration: none;
    color: #000;
}

ul.default {
    list-style: none;
}
ul.horizon>li {
    float: left;
}
div#controlPannel {
    height: 30px;
    width: 480px;
    margin: 0;
}
/**
div#controlPannel>ul>li>img {
    width: 30px;
}
**/
div#controlPannel>div>img {
    width: 30px; /* 30 */
    cursor: pointer;
}
div#controlPannel>div>img:active {
    -webkit-opacity:0.7;
}

div#controlPannel>div#music_title {
    width: 336px; /* == 420 - (30*2) - (padding*2) */
    padding:1px 12px;
}
div#controlPannel>div#music_title>span {
    color: #333;
    font-size: 12px;
}
img.share {
    height: 16px;
    -webkit-opacity: 0.5;
}
img.share:hover {
    -webkit-opacity: 1;
    cursor:pointer;
}

button#korejanai {
    cursor:pointer;
}
button#korejanai:hover {
    color: red;
}

li#up {
    float: left;
}
li#down {
    float: right;
}

.boxy {
    display: -webkit-box;
    display: -moz-box;
}

span#tail_desc {
    font-size: 8px;
    color: #333;
    margin-right: 10px;
}
div#info {
    width: 420px;
    clear: both;
}
hr#info_hr {
    margin-bottom: 2px;
}

object#player {
    -webkit-box-shadow: 0 0 30px #ccc;
    -moz-box-shadow: 0 0 30px #ccc;
}

.fix_left {
    float: left;
}

.fix_right {
    float: right;
}

.clickable {
    cursor: pointer;
}

.tw_link {
    font-size: 10px;
    color: #aaa;
    text-shadow: 0 0 1px #eee;
    text-decoration: none;
}

.tw_link:hover {
    text-decoration: underline;
}

li.fixed_list {
    display: -webkit-box;
    -webkit-box-align: center;
    text-shadow: 0 1px 0 #fff;
    height: 90px;
}

li.fixed_list>input {
    font-size: 12px;
}
li.fixed_list>div {
    width: 400px;
    margin: 0 auto;
    text-align: center;
}
li.fixed_list>img {
    -webkit-opacity: 0.2;
    -moz-opacity: 0.2;
    cursor:pointer;
}

