body, #wrapper {
    padding: 0;
    margin:  0;
    clear: both;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#header {
    position:fixed;
    background: -webkit-gradient(linear, left top, left bottom,
                                                    from(#aaa),
                    /* color-stop(0.3, rgba(256,256,256,1)), */
                                       to(rgba(256,256,256,0))
                );
    width: 100%;
    height: 90px;
    z-index: -1;
}

#footer {
    position: fixed;
    bottom: 0;
    background: -webkit-gradient(linear, left top, left bottom,
                    /* color-stop(0.3, rgba(256,256,256,1)), */
                                       from(rgba(256,256,256,0)),
                                                    to(#aaa)
                );
    width: 100%;
    height: 90px;
    z-index: -1;
    text-align: right;
}
div#social {
    position: fixed;
    bottom: 30px;
    right: 100px;
/**
    margin-top: 20px;
    margin-right: 100px;
**/
    z-index: 1;
}

div#titlewrapper {
    position : fixed;
    left : 1050px;
    top  : 8px;
}

div#titlewrapper>h1 {
    text-shadow: 0 -1px 0 #fff;
}

ul.default {
    list-style: none;
}
ul.horizon>li {
    float: left;
}
/**
ul#control {
    padding-left: 0;
}
**/
/**
li#up {
    margin-bottom: 80px;
}
li#up>img {
    -webkit-transform: rotate(90deg);
}
li#down>img {
    -webkit-transform: rotate(-90deg);
}
**/
div#controlPannel {
    height: 90px;
    width: 480px;
    margin: 0;
}
/**
div#controlPannel>ul>li>img {
    width: 30px;
}
**/
div#controlPannel>div>img {
    width: 30px;
    cursor: pointer;
}
div#controlPannel>div#music_title {
    width: 396px;
    /* debug */
    /* -webkit-box-sizing: box-border; */
    padding:1px 12px;
}
div#controlPannel>div#music_title>span {
    color: #333;
    font-size: 12px;
}

button#korejanai {
    cursor:pointer;
}
button#korejanai:hover {
    color: red;
}

li#up {
    float: left;
}
li#down {
    float: right;
}

.boxy {
    display: -webkit-box;
}

div#cont_left {
    width: 50%;
    margin-top: 90px;
}

div#cont_right {
    width: 50%;
    position:fixed;
    left: 700px;
    top:    90px;
}

object#player {
    -webkit-box-shadow: 0 0 30px #ccc;
}

.fix_left {
    float: left;
}

.fix_right {
    float: right;
}

.clickable {
    cursor: pointer;
}

.tw_link {
    font-size: 12px;
    color: #ccc;
    text-shadow: 0 0 1px #eee;
    text-decoration: none;
}

.tw_link:hover {
    text-decoration: underline;
}

li.fixed_list {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

li.fixed_list>input {
    font-size: 12px;
}
li.fixed_list>img {
    -webkit-opacity: 0.2;
    cursor:pointer;
}
